nav {
display: flex;
flex-direction: row;
justify-content: space-between
}
body{
  background-color: blueviolet;
  flex-direction: column;
}

  

div:nth-child(2){
  background-color: rgb(128, 240, 173);
}


input{
  max-width: 99%;
  max-height: 99%;
}
html, body{
  height: 100%;
  margin: 0%
  padding: 0%
}

#kangaroo{
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#hobbies{
display: flex;
flex-direction: row;
justify-content: left;
  background-color: rgb(8, 0, 255);
  width: 200px;
}
#hobbies :nth-child(2){
  text-indent: 50px;
}